.container-pos{
    position: relative;
}

.next-txt{
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    height: 100%;
}
.top-srh{
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 2%;
}
.qna-srh{
    position: relative;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    padding: 14px 18px;
    width: 94%;
    height: 100%;
    box-sizing: border-box;
}
.qna-btn{
    cursor: pointer;
    z-index: 9;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 33px;
    right: 50px;
    background: url(../img/map-srh.svg  ) no-repeat center/contain;
}

.txt-Box{
    border-top:1px solid #ccc;
    padding: 20px 0;
    padding-left: 5%;
}
.txtB{
    font-size: 18px;
    font-weight: 700;
}
.information{
    margin-top: 12px;
    margin-right: 4.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cycle-t{margin-right: 8px;}
.nuM{
    margin-left: 2px;
    padding: 4px 8px;
    background-color: #ccc;
    color: #fff;
    border-radius: 20px;
}
.rent-btn{
    background-color: #00D32B;
    border-radius: 20px;
    padding: 6px 40px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    height:30px;
    width:55px;
}
.rent-btn2{
    background-color: #F74040;
    border-radius: 20px;
    padding: 6px 40px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    height:30px;
    width:55px;
}

.map-container{}


.next-right{
    position: absolute;
    top: 20px;
    left: 30%;
    padding: 12px;
    border:1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
}
.stock-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.stock-box li{
    position: relative;
    margin-left:22px;
    margin-right: 15px;
}
.gray{margin-left: 36px!important;}
.gray::before{ content: ""; position: absolute; top:0px; left:-25px; width:16px; height:16px; background-color:#CCCCCC ; border-radius: 20px;}
.red::before{content: ""; position: absolute; top:0px; left:-25px; width:16px; height:16px; background-color:#F74040;border-radius: 20px;}
.yellow::before{content: ""; position: absolute; top:0px; left:-25px; width:16px; height:16px; background-color:#F3AF2B;border-radius: 20px;}
.green::before{content: ""; position: absolute; top:0px; left:-25px; width:16px; height:16px; background-color:#00D32B;border-radius: 20px;}

.reset{
    position: absolute;
    top: 20px;
    left: 60.5%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    width:24px;
    height:24px;
    display: inline-block;
}
.reset img{}

/*반응형*/
@media (max-width: 1400px){
    .wid1400-con{
        width:100%;
    }
    #map{width:100%!important;}
    .next-right{    left: 33%;}
    .reset {left: 66.5%;}
}
@media (max-width: 1260px){
    .leftBox{    margin-top: 83px;}
    .qna-btn{top:95px;}
    .next-right{left:0%;} 
    .stock-box li{    margin-right: 5px;}
    .reset{left:90%;}
}
@media (max-width: 520px){
    .next-txt{display: none;}
    .next-right{left: 2%;}
    .stock-box li{margin-right: 10px; font-size: 12px;}

}
@media (max-width: 380px){
    .reset{
        left: 84%;
    top: 77px;
    }
}